<div id="login_container" style="display: none;">
    <div class="form-center-body" >
        <div class="form-switcher">
            <button class="switch-button" data-form="register">Register</button>
            <button class="switch-button" data-form="login">Login</button>
        </div>

        <div id="register-form" class="form-container">
            <h1>Register</h1>
            <form id="register-form-inner">
                {{ form_errors(registrationForm) }}

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                <button type="submit" class="btn">Register</button>
            </form>
        </div>

        <div id="login" class="form-container" style="display: none;">
            <form method="post" id="login-form">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" autocomplete="username" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
