{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <button id="logout-btn" style="display: none;">Выйти</button>
    <div id="app">
        <App />
    </div>
{% endblock %}