{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <button id="logout-btn" style="display: none;">Выйти</button>
    {% include 'home/authorization.html.twig' %}
    <div id="task-container" style="display: none;">
        {% include 'home/createTask.html.twig' %}
        {% include 'home/listTasks.html.twig' %}
    </div>
    {% include 'home/editTask.html.twig' %}
{% endblock %}

