<div class="status-filters">
    <label class="status-option" for="filter-all">
        <input type="radio" name="status" id="filter-all" value="all" /> Все
    </label>
    <label class="status-option" for="filter-completed">
        <input type="radio" name="status" id="filter-completed" value="true" /> Выполнено
    </label>
    <label class="status-option" for="filter-incomplete">
        <input type="radio" name="status" id="filter-incomplete" value="false" /> В процессе
    </label>
</div>


<h2>Ваши задачи</h2>
    <ul id="task-list"></ul>